//-----------------------------------------------------------------------------
// Global definitions
//-----------------------------------------------------------------------------

:root {

}

html {
  font-family: Roboto, "Open Sans", Verdana, sans-serif;
}

a {
  outline: none;
}

.label {
  color: rgb(63,81,181);
  flex-wrap: wrap;
  font-size: 14px;
  margin: auto auto auto auto;
  text-align: center;
  width: 100%
}

.mdl-dialog {
  width: fit-content;
  min-width: 45%;
}

.material-icons {
  color: grey;
}

//-----------------------------------------------------------------------------
// Page Region Definitions
//-----------------------------------------------------------------------------

.page-wrapper {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin: auto auto auto auto;
  width: 100%
}

.page-content {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin: 20px auto auto auto;
  width: 80%
}

.page-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto auto auto;
  width: 100%
}

//-----------------------------------------------------------------------------
// Individual Page Elements
//-----------------------------------------------------------------------------
.voyage-input {
  justify-content: center;
  margin: 10px auto 15px auto;
}

.voyage-repo-events {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin: 10px auto 15px auto;
  width: 100%;
}

.export-text {
  justify-content: center;
  margin: auto auto auto auto;
  width: 100%;
}

.export-json-data {
	box-sizing: content-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  margin: auto auto auto auto;
  width: 100%;
}

.export-filename-wrapper {
  align-self: center;
  margin: auto;
}

.export-buttons {
  justify-content: space-between;
  margin: auto auto auto auto;
}

.copyright {
  color: grey;
  display: flex;
  align-items: center;
  margin: auto;
}

//-----------------------------------------------------------------------------
// Modal Dialog Elements
//-----------------------------------------------------------------------------

// About Dialog elements
.about-link {
  color: grey;
  text-decoration: none;
}

.about-dialog-content {
  margin: 0;
  padding: 0;
}

#about-avatar {
  width: 40%;
  height: 40%;
  margin: 10px auto auto auto;
  display: inline-block;
}

.about-text {
  width: 59%
  display: inline-block;
  vertical-align: middle;
}

